
services:
  laravel:
    restart: unless-stopped
    container_name: magic_tournament
    build:
      context: .
      dockerfile: ./Dockerfile
    # allocate as many volumes as necessary, if needed.
    volumes:
      - /docker-compose-services/mtg/storage/app:/var/www/html/storage/app
    environment:
      APP_NAME: MTG Turnier
      APP_ENV: production
      APP_DEBUG: false
      APP_KEY: ${APP_KEY}
      APP_URL: mtg.betz.coffee
      DB_CONNECTION: sqlite
    networks:
      - external_network
    labels:
      - "traefik.enable=true"

      ########################
      # External normal access
      ########################
      - "traefik.http.routers.mtg.rule=Host(`mtg.betz.coffee`)"
      - "traefik.http.routers.mtg.entrypoints=websecure"
      - "traefik.http.routers.mtg.tls=true"
      - "traefik.http.routers.mtg.service=immich"
      - "traefik.docker.network=external_network"
networks:
  external_network:
    external: true
    name: external_network

