
services:
  laravel:
    restart: unless-stopped
    container_name: magic_tournament
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        TEST: ${TEST}
        FLUX_LICENSE_KEY: ${FLUX_LICENSE_KEY}
        FLUX_USERNAME: ${FLUX_USERNAME}
    environment:
      APP_NAME: ${APP_NAME}
      APP_ENV: ${APP_ENV}
      APP_DEBUG: ${APP_DEBUG}
      APP_KEY: ${APP_KEY}
      APP_VERSION: ${APP_VERSION}
      APP_URL: ${APP_URL}
    user: "33:82"
    # allocate as many volumes as necessary, if needed.
    volumes:
      - /docker-compose-services/mtg/storage/app:/var/www/html/storage/app
      - /docker-compose-services/mtg/database/database.sqlite:/var/www/html/database/database.sqlite
    networks:
      - external_network
    labels:
      - "traefik.enable=true"

      ########################
      # External normal access
      ########################
      - "traefik.http.routers.mtg.rule=Host(`mtg.betz.coffee`)"
      - "traefik.http.routers.mtg.entrypoints=websecure"
      - "traefik.http.routers.mtg.tls=true"
      - "traefik.docker.network=external_network"
networks:
  external_network:
    external: true
    name: external_network

