
services:
  laravel:
    restart: unless-stopped
    container_name: magic_tournament
    env_file:
      - .env
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        FLUX_LICENSE_KEY: ${FLUX_LICENSE_KEY}
        FLUX_USERNAME: ${FLUX_USERNAME}
    volumes:
      - /docker-compose-services/mtg/storage/app:/var/www/html/storage/app
      - /docker-compose-services/mtg/database/database.sqlite:/var/www/html/database/database.sqlite
    networks:
      - external_network
    labels:
      - "traefik.enable=true"

      # =========================
      # BASIC AUTH MIDDLEWARE
      # =========================
      - "traefik.http.middlewares.mtg-auth.basicauth.users=user:$apr1$dqzLxx.C$X83MJpJgEWQz9Hiz0NX7n1"

      # =========================
      # HTTP (Laravel / Nginx)
      # =========================
      - "traefik.http.routers.mtg.rule=Host(`mtg.betz.coffee`)"
      - "traefik.http.routers.mtg.entrypoints=websecure"
      - "traefik.http.routers.mtg.tls=true"
      - "traefik.http.routers.mtg.service=mtg"
      - "traefik.http.routers.mtg.middlewares=mtg-auth"
      - "traefik.http.services.mtg.loadbalancer.server.port=80"

      # =========================
      # WEBSOCKET (Reverb)
      # (no auth so WS still works)
      # =========================
      - "traefik.http.routers.mtg-ws.rule=Host(`mtg.betz.coffee`) && PathPrefix(`/app`)"
      - "traefik.http.routers.mtg-ws.entrypoints=websecure"
      - "traefik.http.routers.mtg-ws.tls=true"
      - "traefik.http.routers.mtg-ws.service=mtg-ws"
      - "traefik.http.services.mtg-ws.loadbalancer.server.port=8080"



networks:
  external_network:
    external: true
    name: external_network

