
services:
  laravel:
    restart: unless-stopped
    container_name: magic_tournament
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        FLUX_LICENSE_KEY: ${FLUX_LICENSE_KEY}
        FLUX_USERNAME: ${FLUX_USERNAME}
    environment:
      APP_NAME: ${APP_NAME}
      APP_ENV: ${APP_ENV}
      APP_DEBUG: ${APP_DEBUG}
      APP_KEY: ${APP_KEY}
      APP_VERSION: ${APP_VERSION}
      APP_URL: ${APP_URL}
      REVERB_APP_ID: ${REVERB_APP_ID}
      REVERB_APP_KEY: ${REVERB_APP_KEY}
      REVERB_APP_SECRET: ${REVERB_APP_SECRET}
    # allocate as many volumes as necessary, if needed.
    volumes:
      - /docker-compose-services/mtg/storage/app:/var/www/html/storage/app
      - /docker-compose-services/mtg/database/database.sqlite:/var/www/html/database/database.sqlite
    networks:
      - external_network
    labels:
      - "traefik.enable=true"

      # =========================
      # HTTP (Laravel / Nginx)
      # =========================
      - "traefik.http.routers.mtg.rule=Host(`mtg.betz.coffee`)"
      - "traefik.http.routers.mtg.entrypoints=websecure"
      - "traefik.http.routers.mtg.tls=true"
      - "traefik.http.routers.mtg.service=mtg"
      - "traefik.http.services.mtg.loadbalancer.server.port=80"

      # =========================
      # WEBSOCKET (Reverb)
      # =========================
      - "traefik.http.routers.mtg-ws.rule=Host(`mtg.betz.coffee`) && PathPrefix(`/app`)"
      - "traefik.http.routers.mtg-ws.entrypoints=websecure"
      - "traefik.http.routers.mtg-ws.tls=true"
      - "traefik.http.routers.mtg-ws.service=mtg-ws"
      - "traefik.http.services.mtg-ws.loadbalancer.server.port=8080"



networks:
  external_network:
    external: true
    name: external_network

